<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - Admin Dashboard</title>

    <!-- Tailwind is included -->
    <link rel="stylesheet" href="/admin-one/css/main.css?v=1652870200386" />

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/admin-one/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/admin-one/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="/admin-one/safari-pinned-tab.svg"
      color="#00b4b6"
    />

    <meta name="description" content="dashboard" />
    <meta property="og:description" content="dashboard" />
  </head>
  <body>
    <div id="app">
      <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item mobile-aside-button">
            <span class="icon"
              ><i class="mdi mdi-forwardburger mdi-24px"></i
            ></span>
          </a>
        </div>

        <div class="navbar-brand is-right">
          <a
            class="navbar-item --jb-navbar-menu-toggle"
            data-target="navbar-menu"
          >
            <span class="icon"
              ><i class="mdi mdi-dots-vertical mdi-24px"></i
            ></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item dropdown has-divider has-user-avatar">
              <% if (currentUser) { %>
              <a class="navbar-link">
                <div class="user-avatar">
                  <img
                    src="https://avatars.dicebear.com/v2/initials/john-doe.svg"
                    alt="<%= currentUser.username %>"
                    class="rounded-full"
                  />
                </div>
                <div class="is-user-name">
                  <span><%= currentUser.username %></span>
                </div>
                <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
              </a>
              <% } %>

              <div class="navbar-dropdown">
                <a href="profile.html" class="navbar-item">
                  <span class="icon"><i class="mdi mdi-account"></i></span>
                  <span>My Profile</span>
                </a>
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-settings"></i></span>
                  <span>Settings</span>
                </a>
                <% if (currentUser) { %>
                <hr class="navbar-divider" />
                <a class="navbar-item" href="/logout">
                  <span class="icon"><i class="mdi mdi-logout"></i></span>
                  <span>Log Out</span>
                </a>
                <% } %>
              </div>
            </div>
            <% if (currentUser) { %>
            <a
              title="Log out"
              class="navbar-item desktop-icon-only"
              href="/logout"
            >
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>Log out</span>
            </a>
            <% } %>
          </div>
        </div>
      </nav>

      <%- include('partials/sidebar') %>

      <section class="is-title-bar">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
        >
          <ul>
            <li>Admin</li>
            <li>Dashboard</li>
          </ul>
        </div>
      </section>

      <!-- Flash Messages -->
      <section class="section main-section"></section>
      <% if (success_msg && success_msg.length > 0) { %> <%
      success_msg.forEach(function(msg) { %>
      <div class="notification blue">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
        >
          <div>
            <span class="icon"><i class="mdi mdi-buffer"></i></span>
            <b><%= msg %></b>
          </div>
          <button
            type="button"
            class="button small textual --jb-notification-dismiss"
          >
            Dismiss
          </button>
        </div>
      </div>
      <% }); %> <% } %> <% if (error_msg && error_msg.length > 0) { %> <%
      error_msg.forEach(function(msg) { %>
      <div class="notification red">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
        >
          <div>
            <span class="icon"><i class="mdi mdi-buffer"></i></span>
            <b><%= msg %></b>
          </div>
          <button
            type="button"
            class="button small textual --jb-notification-dismiss"
          >
            Dismiss
          </button>
        </div>
      </div>
      <% }); %> <% } %> <% if (error && error.length > 0) { %> <%
      error.forEach(function(msg) { %>
      <div class="notification red">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
        >
          <div>
            <span class="icon"><i class="mdi mdi-buffer"></i></span>
            <b><%= msg %></b>
          </div>
          <button
            type="button"
            class="button small textual --jb-notification-dismiss"
          >
            Dismiss
          </button>
        </div>
      </div>
      <% }); %> <% } %>
    </section>

      <section class="section main-section"><%- body %></section>

      <footer class="footer">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
        >
          <div class="flex items-center justify-start space-x-3">
            <div>© 2024, LikeAshraful</div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Scripts below are for demo only -->
    <script
      type="text/javascript"
      src="/admin-one/js/main.min.js?v=1652870200386"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    ></script>
    <!-- <script
      type="text/javascript"
      src="/admin-one/js/chart.sample.min.js"
    ></script> -->
    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
    />
  </body>
</html>
