
    <% posts.forEach(function(post) { %>
        <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
        <p><%= post.content.substring(0, 100) %>...</p>
        <p>Categories: 
            <% post.categories.forEach(function(category) { %>
                <a href="/categories/<%= category %>"><%= category %></a>
            <% }); %>
        </p>
        <p>Tags: 
            <% post.tags.forEach(function(tag) { %>
                <span><%= tag %></span>
            <% }); %>
        </p>
    <% }); %>

